/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

body {
    border: none;
    border-collapse: collapse;
    font: $font-stack;
    color: $primary-color;
}
