//@import '~sass/variables';
@import "../../../sass/variables";

$guess-width: #{($score-column-width / 2.2)};
$actual-width: #{($score-column-width / 2.2)};

.scoreboard {
    div.roundNumCell {
        width: 2em;
    }

    div.scoreCell {
        width: $score-column-width;

        input.guessCell {
            width: $guess-width;
        }

        input.actualCell {
            width: $actual-width;
        }
    }

    div.sameline {
        display:inline-block;
    }
}
